<nav class="top-nav">
  <div class="container">
    <a title="Blog">Blog</a>
    <a title="Movers">Movers</a>
    <a title="FAQ">FAQ</a>
    <a title="Contact">Contact</a>
  </div>
</nav>
<nav class="nav-transporter sticky-nav">
  <ul class="navbar-wrapper">
    <li class="nav-item">
      <a class="transporter-link" title="Home">Transporter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" title="how-it-works">How it works</a>
    </li>
    <div class="dropdown"></div>
    <div class="dropdown"></div>
    <li class="nav-item">
      <a class="nav-link" title="Why Nexus">Why Nexus</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" title="Help">Help</a>
    </li>
    <li class="nav-item">
      <a title="Cost Calculator">
        <button type="button">Cost Calculator</button>
      </a>
    </li>
  </ul>
</nav>
<content></content>
<footer class="footer-container">
  <div class="links-footer">
    <div class="address-conatiner">
      <h3>Transporter</h3>
      <div class="contact-box">
        <h3>Address</h3>
      </div>
    </div>
    <div class="quick-conatiner">
      <h3>Quick Links</h3>
      <div class="links options">
        <div>
          <a title="Cost Calculator">Cost Calculator</a>
          <a title="How it works">How it works</a>
          <a title="Transport Options">Transport Options</a>
          <a title="Cross Country Car Shipping: The Cost to Ship a Car Across the US">Cross Country Car Shipping</a>
          <a title="Why Nexus">Why Nexus</a>
        </div>
        <div>
          <a title="Contact">Contact</a>
          <a title="Blog">Blog</a>
          <a title="Movers">Movers</a>
          <a title="State Pages">State Pages</a>
        </div>
      </div>
    </div>
    <div class="reviews-conatiner">
      <h3>Reviews</h3>
      <div class="links">
        <a target="_blank" rel="nofollow" title="Google Reviews">Google Reviews</a>
        <a target="_blank" rel="nofollow" title="Angie’s List">Angie’s List</a>
      </div>
    </div>
    <div class="social-conatiner">
      <h3>Social</h3>
      <div class="links">
        <a rel="nofollow" title="Nexus Facebook Page" target="_blank">Facebook</a>
        <a rel="nofollow" title="Nexus Instagram Page" target="_blank">Instagram</a>
        <a rel="nofollow" title="Nexus Twitter Page" target="_blank">Twitter</a>
        <a rel="nofollow" title="Nexus YouTube Channel" target="_blank">YouTube</a>
        <a rel="nofollow" title="Nexus LinkedIn Page" target="_blank">LinkedIn</a>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div>
        <p>©2021 - Nexus Auto Transport. All rights reserved.</p>
      </div>
      <div>
        <a title="Terms &amp; Conditions">Terms &amp; Conditions</a>
        <a title="Privacy Policy">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>